<launch>
  <arg name="drone_id" default="0" />

  <group if="$(eval drone_id == 0)">
    <param name="odom_visualization/color/r" value="0.580" />
    <param name="odom_visualization/color/g" value="0.655" />
    <param name="odom_visualization/color/b" value="0.929" />
  </group>

  <group if="$(eval drone_id == 1)">
    <param name="odom_visualization/color/r" value="0.941" />
    <param name="odom_visualization/color/g" value="0.616" />
    <param name="odom_visualization/color/b" value="0.847" />
  </group>

  <group if="$(eval drone_id == 2)">
    <param name="odom_visualization/color/r" value="0.992" />
    <param name="odom_visualization/color/g" value="0.749" />
    <param name="odom_visualization/color/b" value="0.612" />
  </group>

  <group if="$(eval drone_id == 3)">
    <param name="odom_visualization/color/r" value="0.647" />
    <param name="odom_visualization/color/g" value="0.937" />
    <param name="odom_visualization/color/b" value="0.729" />
  </group>

  <group if="$(eval drone_id == 4)">
    <param name="odom_visualization/color/r" value="0.647" />
    <param name="odom_visualization/color/g" value="0.937" />
    <param name="odom_visualization/color/b" value="0.729" />
  </group>

  <group if="$(eval drone_id == 5)">
    <param name="odom_visualization/color/r" value="0.647" />
    <param name="odom_visualization/color/g" value="0.937" />
    <param name="odom_visualization/color/b" value="0.729" />
  </group>

  <group if="$(eval drone_id == 6)">
    <param name="odom_visualization/color/r" value="0.647" />
    <param name="odom_visualization/color/g" value="0.937" />
    <param name="odom_visualization/color/b" value="0.729" />
  </group>

  <group if="$(eval drone_id == 7)">
    <param name="odom_visualization/color/r" value="0.647" />
    <param name="odom_visualization/color/g" value="0.937" />
    <param name="odom_visualization/color/b" value="0.729" />
  </group>

</launch>
