<?xml version="1.0"?>
<launch>
	<arg name="init_x" />
	<arg name="init_y" />
	<arg name="init_z" />
	<arg name="obs_num" default="1" />
	<arg name="map_size_x" />
	<arg name="map_size_y" />
	<arg name="map_size_z" />
	<arg name="c_num" />
	<arg name="p_num" />
	<arg name="min_dist" />
	<arg name="odometry_topic" />
	<arg name="odom_pose_topic" />
	<arg name="drone_id" />

	<!-- map -->
	<node pkg="map_generator" name="map_generator" type="random_forest" output="screen">
		<param name="init_state_x" value="0.0" />
		<param name="init_state_y" value="0.0" />
		<param name="map/x_size" value="$(arg map_size_x)" />
		<param name="map/y_size" value="$(arg map_size_y)" />
		<param name="map/z_size" value="$(arg map_size_z)" />
		<param name="map/resolution" value="0.1" />
		<param name="map/frame_id" value="world" />

		<param name="ObstacleShape/seed" value="-1" />
		<param name="map/obs_num" value="$(arg obs_num)" />
		<param name="ObstacleShape/lower_rad" value="0.5" />
		<param name="ObstacleShape/upper_rad" value="1.0" />
		<param name="ObstacleShape/lower_hei" value="5.0" />
		<param name="ObstacleShape/upper_hei" value="5.0" />
		<param name="ObstacleShape/set_cylinder" value="true" />

		<param name="map/circle_num" value="0" />
		<param name="ObstacleShape/radius_l" value="0.7" />
		<param name="ObstacleShape/radius_h" value="0.5" />
		<param name="ObstacleShape/z_l" value="0.7" />
		<param name="ObstacleShape/z_h" value="0.8" />
		<param name="ObstacleShape/theta" value="0.5" />

		<param name="sensing/radius" value="5.0" />
		<param name="sensing/rate" value="10.0" />
	</node>

</launch>
